---
http_interactions:
- request:
    method: post
    uri: https://ws.smsdigital.com.br/sms/envio
    body:
      encoding: UTF-8
      string: '{"Destinatarios":["84666666666"],"Mensagem":"Foobar test foobar"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2x1YmVkb3ByZXZlcjpDbHViZVAzdjNyQCkhKg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Lote":0,"StatusMensagem":"Mensagens enviadas","Status":1,"CreditosGastos":0,"Destinatarios":[{"Celular":84666666666,"Sequencia":653557012}]}'
  recorded_at: Wed, 08 Jan 2020 12:40:59 GMT
recorded_with: VCR 5.0.0
